<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> Insert Form</title>
</head>
<body
    <div class ='errors'>
        <%if(errorsValidation){%>
    <ul>
        <%for(var i=0;i<errorsValidation.length;i++){%>
            <li><%=errorsValidation[i].param%> - <%=errorsValidation[i].msg%></li>
        <%}%>
    </ul>
    <%}%>
    </div>
    <form action="/produtos" method="post">
        <div>
            <label for="nome">Nome</label>
            <input type="text" id="nome" value="<%=produto.nome%>" name="nome" placeholder="Coloque o nome do livro"/>
        </div>
        <input type="submit" value="Gravar">
    </form>
</body>
    </html>