<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    </head>
    <body>

        <table>
            <tr>
                <td>id</td>
    <td>Nome</td>
    </tr>
    <tr>
        <td>1</td>
    <td>Produto do Eduardo</td>
</tr>
</table>

</body>
</html>