<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    </head>
    <body>
        <table>
            <tr>
                <td>id</td>
                <td>Nome</td>
            </tr>
            <tr>
                <%for(var i=0; i<lista.length; i++){%>
                  <tr>
                      <td><%=lista[i].id%></td>
                      <td><%=lista[i].nome%></td>
                  </tr>
                <%}%>
            </tr>
        </table>

    </body>
</html>